body {
    background-color: lightblue;
}

.images_class{
    border:2px solid black;
}

#vloot1{
    /* float: left; */
}

#vloot2{
    float: right;
}
#vloot3{
    /* float: bottom; */
    bottom: 0px;
    
}
.container {
    padding:40px;
}