body {
    background-color: lightblue;
}

.images_class{
    border:2px solid black;
    margin: 5px
}

#vloot1{
    float: left;
}

#vloot2{
    float: right;
}
#vloot3{
    float: left;
    bottom: 10px;
    
}
.container {
    padding: 35px;
}